
@{
    ViewBag.Title = "Admin Panel";
}

<h2>Admin Panel</h2>

<table class="table">
    <tr>
        <th>
           Manage
        </th>
    </tr>

        <tr>
            <td>    
                <a href="http://localhost:60898/Products"> Products</a>
            </td>

            <td>
                <a href="http://localhost:60898/Carts"> Carts</a>
            
            </td>
            <td>
                <a href="http://localhost:60898/Restaurants"> Restaurants</a>

            </td>

            <td>
                <a href="http://localhost:60898/Reviews"> Reviews</a>

            </td>


        </tr>
    


</table>
